
{% extends "base.html" %}
{% block contents %}
{% block style %}
<style>
    
</style>
{% endblock style %}

<div class="container my-5">
<h3>The User Record Table</h3>


  <table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Date</th>
      
    </tr>
  </thead>
  <tbody>
    {% for user in all_user %}
    <tr>
      <th scope="row">{{loop.index }}</th>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.datetime}}</td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>

</div>
{% endblock contents %}
